.heading{
    width:270px;
    height:50px;
    background-color: #ff471a;
    color: azure;
    border:solid black 0px;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 25px;
    margin:20px 600px 20px 600px;
    font-size:30px;
}
.tagline{
    font-size:25px;
    margin-left: 550px;
    background-color:#ffd480;
    border-radius: 30px;
    width:530px;
    padding: 10px;
    padding-left: 32px;
}
.sale{
    font-size:20px;
    background-color: #4dff88;
    height:30px;
    padding: 10px;
}
.card_1{
    width:250px;
    background-color:#cc99ff;
    padding:20px 10px;
    border-radius: 25px;
    border: double #7300e6 5px;
    margin: 20px 0px 20px 5px;
}
.card-1-img{
    width: 200px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
.card_2{
    width:250px;
    background-color:#ff6666;
    padding:20px 10px;
    border-radius: 25px;
    border: double #e60000 5px;
    margin: 20px 0px 20px 5px;
}
.card-2-img{
    width: 180px;
    height: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
.card_3{
    width:250px;
    background-color:#b3ff66;
    padding:20px 10px;
    border-radius: 25px;
    border: double #408000 5px;
    margin: 20px 0px 20px 5px;
}
.card-3-img{
    width: 180px;
    height: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
.btn{
    width: 110px;
    border: solid #476b6b 2px;
    font-size:15px;
    background-color:#c2d6d6;
    border-radius: 30px ;
    margin: 0px 0px 0px 20px;
    color:#1f2e2e;
    padding: 8px;
}
.card-2{
    width:250px;
    background-color:#ffad99;
    padding:20px 10px;
    border-radius: 25px;
    border: double #ff471a 5px;
    margin: 20px 0px 20px 5px;
}
.card-3{
    width:250px;
    background-color:#ffad99;
    padding:20px 10px;
    border-radius: 25px;
    border: double #ff471a 5px;
    margin: 20px 0px 20px 5px;
}
.title{
    font-size:20px;
}
.kitchen_cards{
    width: 250px;
    border: #1f2e2e;

}
.cloth{
    width:900px;
    background-color:#f2ccff;
    padding:20px 0px 10px 20px;
    margin: 7px;
    border:dotted #4d0066 3px;
    border-radius: 40px;
}
.w-img{
    margin: 10px;
}
.btn-1{
    width: 110px;
    border: double #476b6b 2px;
    font-size:15px;
    background-color:#c2d6d6;
    border-radius: 30px ;
    margin: 0px 0px 0px 0px;
    color:#1f2e2e;
    padding: 8px;
}
.c-heading{
    font-size: 20px;
    font-style:bold;
}